{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container bg-light mt-5 p-4 rounded shadow-sm">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4" style="font-size: 2rem; font-weight: bold; color: #2c3e50;">{{ title }}</h1>

            <div class="form-container">
                <div class="form">
                    <h2 class="text-center mb-4" style="color: #34495e; font-size: 1.5rem;">{{ description }}</h2>

                    <!-- Formulários dinâmicos -->
                    <form method="post" action="{{ request.path }}">
                        {% csrf_token %}
                        {% for form in forms %}
                            <div class="form-group mb-3">
                                <label for="{{ form.id }}" class="form-label"><strong>{{ form.label }}</strong></label>
                                {% if form.label == "Senha" %}
                                    <input type="password" class="form-control" id="{{ form.id }}" name="{{ form.name }}" placeholder="{{ form.placeholder }}" required>
                                {% elif form.label == "E-mail" %}
                                    <input type="email" class="form-control" id="{{ form.id }}" name="{{ form.name }}" placeholder="{{ form.placeholder }}" required>
                                {% elif form.label == "Matricula" %}
                                    <input type="text" class="form-control" id="{{ form.id }}" name="{{ form.name }}" placeholder="{{ form.placeholder }}" required>
                                {% else %}
                                    <input type="text" class="form-control" id="{{ form.id }}" name="{{ form.name }}" placeholder="{{ form.placeholder }}" required>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- Opções de botão -->
                        <div id="options-div" class="d-flex justify-content-between flex-wrap">
                            {% if options|length == 1 %}
                                {% if options.0.name == "Cadastrar" %}
                                    <button type="submit" class="btn btn-dark btn-lg mt-3 mx-auto">
                                        <strong>{{ options.0.name }}</strong>
                                    </button>
                                {% else %}
                                    <a class="btn btn-dark btn-lg mt-3 mx-auto" href="{{ options.0.link }}">
                                        <strong>{{ options.0.name }}</strong>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% for option in options %}
                                    {% if option.name == "Cadastrar" %}
                                        <button type="submit" class="btn btn-dark btn-lg mt-3">
                                            <strong>{{ option.name }}</strong>
                                        </button>
                                    {% else %}
                                        <a class="btn btn-dark btn-lg mt-3" href="{{ option.link }}">
                                            <strong>{{ option.name }}</strong>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}