<div class="card shadow-lg rounded-lg mb-4" style="margin: 1.5rem">
    <div class="card-body">
        <div class="form-group">
            <label for="phase-name" class="font-weight-bold">Nome da Fase</label>
            <input type="text" class="form-control" id="phase-name" name="phase_name" placeholder="Insira o nome da fase" required>
        </div>

        <div class="form-group mt-4">
            <label for="phase-description" class="font-weight-bold">Descrição da Fase</label>
            <textarea class="form-control" id="phase-description" name="phase_description" rows="3" placeholder="Insira a descrição da fase" required></textarea>
        </div>
    </div>

    <label for="question-select" class="font-weight-bold">Selecione a Pergunta</label>
    <select class="form-control" id="question-select" name="question_select" onchange="loadAnswers(this.value)">
        <option value="">Selecione uma pergunta</option>
        <!-- Adicione opções de perguntas dinamicamente aqui -->
    </select>

    <div id="answers-container" style="display: none;">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                <label for="answer1" class="font-weight-bold">Resposta 1</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="answer1" name="option1" placeholder="Insira a resposta 1" readonly>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mt-3">
                <label for="answer2" class="font-weight-bold">Resposta 2</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="answer2" name="option2" placeholder="Insira a resposta 2" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                <label for="answer3" class="font-weight-bold">Resposta 3</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="answer3" name="option3" placeholder="Insira a resposta 3" readonly>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mt-3">
                <label for="answer4" class="font-weight-bold">Resposta 4</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="answer4" name="option4" placeholder="Insira a resposta 4" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="text-center mt-4">
    <button type="submit" class="btn btn-success btn-lg px-4 py-2"><strong>Cadastrar Fase</strong></button>
</div>