{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-center mt-5 mb-4">{{ title }}</h1>

{% if message %}
    <div class="alert alert-{{ message_type }} text-center" role="alert">
        {{ message }}
    </div>
{% endif %}

<form method="post" action="/cadastro_perguntas" onsubmit="return validateForm()">
    {% csrf_token %}
    <div class="card shadow-lg rounded-lg mb-4" style="margin: 1.5rem">
        <div class="card-body">
            <div class="form-group">
                <label for="question-text" class="font-weight-bold">Texto da Pergunta</label>
                <input type="text" class="form-control" id="question-text" name="question_text" placeholder="Insira a pergunta" required>
            </div>

            <div class="form-group mt-4">
                <label><strong>Selecione o Nível de Dificuldade:</strong></label>
                <div class="btn-group w-100" role="group" aria-label="Nível de Dificuldade">
                    <button type="button" class="btn btn-outline-success w-33 py-2" id="iniciate" onclick="selectDifficulty('Iniciante')"><strong>Iniciante</strong></button>
                    <button type="button" class="btn btn-outline-warning w-33 py-2" id="intermediate" onclick="selectDifficulty('Intermediário')"><strong>Intermediário</strong></button>
                    <button type="button" class="btn btn-outline-danger w-33 py-2" id="advanced" onclick="selectDifficulty('Avançado')"><strong>Avançado</strong></button>
                </div>
                <input type="hidden" id="difficulty" name="difficulty">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="answer1" class="font-weight-bold">Resposta 1</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="answer1" name="option1" placeholder="Insira a resposta 1" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="radio" name="correct_option" value="option1" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="answer2" class="font-weight-bold">Resposta 2</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="answer2" name="option2" placeholder="Insira a resposta 2" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="radio" name="correct_option" value="option2" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="answer3" class="font-weight-bold">Resposta 3</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="answer3" name="option3" placeholder="Insira a resposta 3" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="radio" name="correct_option" value="option3" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="answer4" class="font-weight-bold">Resposta 4</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="answer4" name="option4" placeholder="Insira a resposta 4" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="radio" name="correct_option" value="option4" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-success btn-lg px-4 py-2"><strong>Cadastrar Pergunta</strong></button>
    </div>
</form>

<script>
    async function checkQuestionExists(question) {
        const response = await fetch(`/check_question_exists?question=${encodeURIComponent(question)}`);
        const data = await response.json();
        return data.exists;
    }

    function selectDifficulty(level) {
        document.getElementById('difficulty').value = level;

        document.getElementById('iniciate').classList.remove('active');
        document.getElementById('intermediate').classList.remove('active');
        document.getElementById('advanced').classList.remove('active');

        if (level === 'Iniciante') {
            document.getElementById('iniciate').classList.add('active');
        } else if (level === 'Intermediário') {
            document.getElementById('intermediate').classList.add('active');
        } else if (level === 'Avançado') {
            document.getElementById('advanced').classList.add('active');
        }
    }

    async function validateForm() {
        const question = document.getElementById('question-text').value;
        const answers = document.querySelectorAll('input[name="correct_option"]');
        const correct = document.querySelector('input[name="correct_option"]:checked');
        const difficulty = document.getElementById('difficulty').value;

        if (!question) {
            Swal.fire({
                icon: 'error',
                title: 'Erro de validação',
                text: 'Por favor, insira a pergunta.',
                confirmButtonText: 'OK'
            });
            return false;
        }

        for (let i = 0; i < answers.length; i++) {
            if (!answers[i].value) {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro de validação',
                    text: `Por favor, insira a resposta ${i + 1}.`,
                    confirmButtonText: 'OK'
                });
                return false;
            }
        }

        if (!correct) {
            Swal.fire({
                icon: 'error',
                title: 'Erro de validação',
                text: 'Por favor, selecione a resposta correta.',
                confirmButtonText: 'OK'
            });
            return false;
        }

        if (!difficulty) {
            Swal.fire({
                icon: 'error',
                title: 'Erro de validação',
                text: 'Por favor, selecione o nível de dificuldade.',
                confirmButtonText: 'OK'
            });
            return false;
        }

        const questionExists = await checkQuestionExists(question);
        if (questionExists) {
            Swal.fire({
                icon: 'error',
                title: 'Erro de validação',
                text: 'A pergunta já existe.',
                confirmButtonText: 'OK'
            });
            return false;
        }

        showSuccessAlert('Formulário enviado com sucesso!');
        return true;
    }

    function showSuccessAlert(message) {
        Swal.fire({
            icon: 'success',
            title: 'Sucesso',
            text: message,
            confirmButtonText: 'OK'
        }).then(() => {
        setTimeout(() => {
            Swal.close();
        }, 3000); // 3000 milissegundos = 3 segundos
    });
    }
</script>

{% endblock %}