{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container bg-light mt-5 p-5 rounded shadow-sm">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4" style="font-size: 2rem; color: #2c3e50; font-weight: bold;">{{ title }}</h1>

            <div class="form-container">
                <form method="post" action="/login" class="form">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label for="id_username" class="form-label"><strong>E-mail</strong></label>
                        <input type="text" name="username" id="id_username" class="form-control">
                    </div>
                    <div class="form-group mb-4">
                        <label for="id_password" class="form-label"><strong>Senha</strong></label>
                        <input type="password" name="password" id="id_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg mt-3 w-100 w-md-auto">
                        <strong>Login</strong>
                    </button>
                </form>
                <div id="options-div" class="d-flex flex-wrap justify-content-between mt-4">
                    <a class="btn btn-dark btn-lg mt-3 w-100 w-md-auto" href="/cadastro">
                        <strong>Cadastrar</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}