{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container bg-light mt-5 p-5 rounded shadow-sm">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4" style="font-size: 2rem; color: #2c3e50; font-weight: bold;">{{ title }}</h1>

            <div class="form-container">
                <form id="login-form" class="form">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label for="id_username" class="form-label"><strong>E-mail</strong></label>
                        <input type="text" name="username" id="id_username" class="form-control">
                    </div>
                    <div class="form-group mb-4">
                        <label for="id_password" class="form-label"><strong>Senha</strong></label>
                        <input type="password" name="password" id="id_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg mt-3 w-100 w-md-auto">
                        <strong>Login</strong>
                    </button>
                </form>
                <div id="options-div" class="d-flex flex-wrap justify-content-between mt-4">
                    <a class="btn btn-dark btn-lg mt-3 w-100 w-md-auto" href="/cadastro">
                        <strong>Cadastrar</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('login-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(this);
    fetch('/login', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            const redirectUrl = data.role === 'aluno' ? '/home-aluno' : data.role === 'professor' ? '/home-professor' : '/';
            Swal.fire({
                icon: 'success',
                title: 'Login bem-sucedido!',
                text: 'Você será redirecionado para a página inicial.',
                confirmButtonText: 'OK'
            }).then(() => {
                window.location.href = redirectUrl;
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Falha no login',
                text: 'Credenciais inválidas. Por favor, tente novamente.',
                confirmButtonText: 'OK'
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Erro',
            text: 'Ocorreu um erro. Por favor, tente novamente.',
            confirmButtonText: 'OK'
        });
    });
});
</script>
{% endblock %}